.background-div {
  /* background-image: url('images/library-background.jpg'); */
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: max(50vh, 300px); 
  background-color: cornflowerblue; 
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

#home-navbar {
  display: flex;
  justify-content: flex-end;
}

#logo{
  margin-right: auto;
}

.semester {
  border: 1px solid black;
  height: 100px;
  box-sizing: border-box;
}
.course {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.course-list {
  list-style-type: none;
  padding: 0; 
  margin: 0; 
  margin-top: 10px;
}


.courses{
  padding-top: 40px;
}

.blue-input{
  background-color: rgb(172, 214, 227);
}
#planCourse {
  margin-top: 1.5em;
}