#dragZone {
  height: fit-content;
  min-height: 100px;
  width: 100%;
  background-color: rgb(221, 227, 230);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  &::after {
    content: "";
    display: block;
    min-height: 40px;
    flex-shrink: 0;
  }
}

.addCourse{
  &:hover {
    cursor: grab;
  }
  &:active {
    cursor: grabbing;
  }
}

/* invalid input error message (manual course) */
.error{
  color: red;
}

.course-warning{
  background-color: rgb(255, 251, 153);
  /* background-color: rgb(255, 134, 94); */
}

//Recommended Courses
.course {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  &:hover {
    background-color: #f8f9fa;
  }
  &:active {
    background-color: #e9ecef;
  }
}

#recommendations{
  margin-top: 80px;
}

.remove {
  font-size: 1.5em;
  color: rgb(0, 0, 0);

  &:hover {
    color: rgb(213, 53, 53);
    cursor: pointer;
  }
}

.course-list {
  list-style-type: none;
  padding: 0; 
  margin: 0; 
  margin-top: 10px;
}

#course_search {
  margin-bottom: 10px;
}

#planCourse {
  margin-top: 1.5em;
}
